<template>
  <div>
    <v-toolbar dense fixed style="background-color:#376673;">
      <v-toolbar-side-icon v-show="checkUser()" class="white--text" @click="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title class="white--text">{{header}}</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-layout wrap>
      <v-navigation-drawer temporary v-model="drawer" width="270" light absolute class="white">
        <v-toolbar flat>
          <v-list class="pa-1" dense>
            <v-list-tile>
              <v-list-tile-title class="title">
                YAM
              </v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-toolbar>
        <v-divider></v-divider>
        <v-list dense class="pt-0">
          <v-list-tile v-for="item in items" :key="item.title">
            <v-list-tile-action>
              <v-icon color="cyan darken-4">{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title color="cyan darken-4" @click="logout">{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>
    </v-layout>
  </div>
</template>

<script>
import auth from "../services/auth";
export default {
  data() {
    return {
      header: "YAM",
      drawer: false,
      items: [
        {
          title: "Logout",
          icon: "power_settings_new"
        }
      ]
    };
  },
  methods: {
    logout() {
      auth.logout();
    },
    checkUser() {
      return auth.user.authenticated
      }
  }
};
</script>

