<template>
  <div id="app">
    <heading></heading>
    <signin v-show="seen"></signin>
    <signup v-show="!seen"></signup>
    <div class="text-xs-center">
      <v-btn dark @click="seen = !seen" v-show="seen">Create new account</v-btn>
      <v-btn dark @click="seen = !seen" v-show="!seen">I want to Sign In</v-btn>
    </div>
  </div>
</template>
<script>
import header from "./header";
import Signin from "./Signin";
import Signup from "./Signup";
export default {
  name: "landingPage",
  data() {
    return {
      seen: true
    };
  },
  components: {
    heading: header,
    signin: Signin,
    signup: Signup
  },
  created: function() {
    this.$backend.get('/auth/local').then(response => {
      let username = response.data.user
      console.log(username)
      this.$router.push({
        path:`/users/${username}`
      })
    });
  }
};
</script>
<style scoped>
/* #app{
background-image: -webkit-gradient(linear, left top, left bottom, from(#89f7fe), to(#66a6ff));
background-image: -webkit-linear-gradient(top, #89f7fe, #66a6ff);
background-image: -moz-linear-gradient(top, #89f7fe, #66a6ff);
background-image: linear-gradient(to bottom, #89f7fe, #66a6ff);
} */
</style>
