<template>
  <div id="app">

    <form class="form" method="POST">
      <v-text-field color="cyan darken-4" label="Username" v-model="user" prepend-icon="accessibility" :error-messages="nameErrors" @input="$v.user.$touch()"
        @blur="$v.user.$touch()" required></v-text-field>
      <v-text-field color="cyan darken-4" name="input-10-1" prepend-icon="security" label="Enter your password" v-model="pwd" min="8" :append-icon="e1 ? 'visibility' : 'visibility_off'"
        :append-icon-cb="() => (e1 = !e1)" :type="e1 ? 'text' : 'password'" :error-message="passwordErrors" counter @input="$v.pwd.$touch()"
        @blur="$v.pwd.$touch()" required></v-text-field>
      <div class="text-xs-center mt-2">
        <v-btn dark round outline color="cyan darken-4" @click="submit">Login</v-btn>
        <br>
      </div>
    </form>


  </div>

</template>

<script>
  import {
    validationMixin
  } from "vuelidate";
  import {
    required
  } from "vuelidate/lib/validators";

  export default {
    mixins: [validationMixin],
    validations: {
      user: {
        required
      },
      pwd: {
        required
      }
    },
    data() {
      return {
        user: "",
        e1: false,
        pwd: ""
      };
    },
    methods: {
      submit(e) {
        this.$v.$touch();
        var credentials = {
          user: this.user,
          pwd: this.pwd
        };
        e.preventDefault();
        this.$backend.post('/auth/local', credentials)
          .then((response) => {
            localStorage.setItem('token', response.data.user)
            this.$router.push({
              name: 'userprofile',
              params: {
                user: response.data.user
                }
              })
          }).catch((err) => {
            //TODO: Give a message to user about the problem
            console.log("Authentication Failed")
          })
      }
    },
    computed: {
      nameErrors() {
        const errors = [];
        if (!this.$v.user.$dirty) return errors;
        !this.$v.user.required && errors.push("Name is required.");
        return errors;
      },
      passwordErrors() {
        const errors = [];
        if (!this.$v.pwd.$dirty) return errors;
        !this.$v.pwd.required && errors.push("Password is required");
        return errors;
      }
    }
  };

</script>

<style scoped>
  #app {
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
  }

  .form {
    padding: 10%;
    margin-top: 10%;
  }



</style>
