<template>
  <div id="app">
    <form class="form">
      <v-text-field color="cyan darken-4" label="Username" v-model="name" prepend-icon="accessibility" :error-messages="nameErrors" @input="$v.name.$touch()"
        @blur="$v.name.$touch()" required></v-text-field>
      <v-text-field color="cyan darken-4" name="input-10-1" prepend-icon="security" label="Enter your password" v-model="password" min="8" hint="Atleast 8 characters"
        :error-messages="passwordErrors" :append-icon="e1 ? 'visibility' : 'visibility_off'" :append-icon-cb="() => (e1 = !e1)"
        :type="e1 ? 'text' : 'password'" counter @input="$v.password.$touch()" @blur="$v.password.$touch()" required></v-text-field>
      <v-text-field color="cyan darken-4" label="E-mail" v-model="email" prepend-icon="email" :error-messages="emailErrors" @input="$v.email.$touch()"
        @blur="$v.email.$touch()" required></v-text-field>
      <v-text-field color="cyan darken-4" label="Phone" v-model="phone" prepend-icon="phone" :error-messages="phoneErrors" @input="$v.phone.$touch()"
        @blur="$v.phone.$touch()" required></v-text-field>
        <div class="text-xs-center">
      <v-btn outline color="cyan darken-4" @click="submit">submit</v-btn>
      <v-btn outline color="cyan darken-4" @click="clear">clear</v-btn>
        </div>
    </form>
  </div>
</template>

<script>
  import {
    validationMixin
  } from "vuelidate";
  import {
    required,
    email
  } from "vuelidate/lib/validators";
  import auth from '../services/auth'

  export default {
    mixins: [validationMixin],
    validations: {
      name: {
        required
      },
      email: {
        required,
        email
      },
      phone: {
        required
      },
      password: {
        required
      }
    },
    data() {
      return {
        name: "",
        email: "",
        phone: "",
        e1: false,
        password: ''
      };
    },
    methods: {
      submit() {
        this.$v.$touch();
        var credentials = {
          user:this.name,
          phone:this.phone,
          pwd: this.password,
          email: this.email
        }
        auth.signup(this, credentials)
      },
      clear() {
        this.$v.$reset();
        this.name = "";
        this.email = "";
        this.phone = "";
        this.password = "";
      }
    },
    computed: {
      nameErrors() {
        const errors = [];
        if (!this.$v.name.$dirty) return errors;
        !this.$v.name.required && errors.push("Name is required.");
        return errors;
      },
      emailErrors() {
        const errors = [];
        if (!this.$v.email.$dirty) return errors;
        !this.$v.email.email && errors.push("Must be valid e-mail");
        !this.$v.email.required && errors.push("E-mail is required");
        return errors;
      },
      phoneErrors() {
        const errors = [];
        if (!this.$v.phone.$dirty) return errors;
        !this.$v.phone.required && errors.push("Number is required");
        return errors;
      },
      passwordErrors() {
        const errors = [];
        if (!this.$v.password.$dirty) return errors;
        !this.$v.password.required && errors.push("Password is required");
        return errors;
      }
    }

  };

</script>

<style scoped>
  #app {
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
  }

  .form {
    padding: 10%;
    margin-top: 10%;
  }

</style>
