<template>
<div>
<heading></heading>
  <v-layout row style="margin-top:55px;">
    <v-flex xs12 sm6 offset-sm3>
      <v-card height="600px">
        <v-layout flex justify-center>
          <v-avatar class="pt-2" size="96px">
            <img :src="users.avatar_url">
          </v-avatar>
        </v-layout>
        <v-list two-line>
          <v-list-tile>
            <v-list-tile-action>
              <v-icon color="green">verified_user</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ users.username }}</v-list-tile-title>
              <v-list-tile-sub-title>Username</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile>
            <v-list-tile-action>
              <v-icon color="cyan darken-4">content_paste</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                <i>Hey, I am using YAM</i>
              </v-list-tile-title>
              <v-list-tile-sub-title>Bio</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile>
            <v-list-tile-action>
              <v-icon color="cyan darken-4">phone</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ users.phone }}
              </v-list-tile-title>
              <v-list-tile-sub-title>Mobile</v-list-tile-sub-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-icon color="cyan darken-4">chat</v-icon>
            </v-list-tile-action>
          </v-list-tile>
          <v-divider inset></v-divider>
          <v-list-tile>
            <v-list-tile-action>
              <v-icon color="cyan darken-4">mail</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ users.email }}</v-list-tile-title>
              <v-list-tile-sub-title>Personal</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider inset></v-divider>
          <v-list-tile>
            <v-list-tile-action>
              <v-icon color="cyan darken-4">group_work</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>A+</v-list-tile-title>
              <v-list-tile-sub-title>Blood Group</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile>
            <v-list-tile-action>
              <v-icon color="cyan darken-4">date_range</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{createdDate(users.created_at)}}</v-list-tile-title>
              <v-list-tile-sub-title>Joined At</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-card>
    </v-flex>
  </v-layout>
</div>
</template>
<style scoped>

</style>

<script>
import header from "./header";
export default {
  data() {
    return {
      users: ""
    };
  },
  components: {
    heading: header
  },
  methods: {
    createdDate(date_string) {
      var date = new Date(date_string);
      var months = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
      ];
      var my_format_date =
        date.getDate() +
        " " +
        months[date.getMonth()] +
        ", " +
        date.getFullYear();
      return my_format_date;
    }
  },
  created: function() {
    this.$backend
      .get("/user")
      .then(response => {
        console.log(response);
        this.users = response.data;
      })
      .catch(err => {
        this.$router.push("/");
      });
  }
};
</script>
